<div class="ui card">
  <div class="image">
    <img src="/assets/frappe.jpg">
  </div>
  <div class="content">
    <a class="header">Frappe Project version 3</a>
    <div class="meta">
      <span class="date">April 2019</span>
    </div>
    <div class="description">
      Victorian Central Highlands
    </div>
    <a>
      <i class="bar chart icon"></i>
      3 Metrics
    </a>
  </div>
  <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic icon button"><i class="arrow left icon"></i>Previous</div>
        <div class="ui basic icon button"><i class="arrow right icon"></i>Next</div>
      </div>
  </div>
</div>