<div class="app_container">
  <!-- HEADER -->
  <header>
    <div class="ui fixed inverted shadow menu">
      <h3 class="ui icon header item ">
          <i class="green icon"></i> DSS
      </h3>
      <a class="ui item" routerLink="/"><i class="home icon"></i>Home</a>
      <a class="ui item" routerLink="/study-area"><i class="map icon"></i>Study Area</a>
      <a class="ui item" routerLink="/overview"><i class="crosshairs icon"></i>Overview</a>
      <a class="ui item" routerLink="/admin-console"><i class="cog icon"></i>Admin Console</a>
    </div>
  </header>


  <!-- MAIN -->
  <main>
    <router-outlet></router-outlet>
  </main>


  <!-- FOOTER -->
  <footer>
    <app-log-viewer></app-log-viewer>
  </footer>
</div>
