<div class="ui top attached segment">
  <h2 class="ui header">
    Administration Console
  </h2>
</div>
<div class="ui attached segment">
    <!-- <app-file-explorer
      [fileElements]="fileElements | async"
      [path]="currentPath"
      [canNavigateUp]="canNavigateUp"
      (folderAdded)="addFolder($event)"
      (elementRemoved)="removeElement($event)"
      (navigatedDown)="navigateToFolder($event)"
      (navigatedUp)="navigateUp()"
      (elementRenamed)="renameElement($event)"
      (elementMoved)="moveElement($event)"
    >
    </app-file-explorer> -->
</div>
<div class="ui bottom attached segment">
  <app-extraction></app-extraction>
</div>